# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#SymLinks And Core in drupal
current
drupal-8.*/sites
drupal-8.*/files
drupal-8.*/core
drupal-8.*/modules
drupal-8.*/profiles
drupal-8.*/themes
drupal-8.*/vendor
drupal-base/sites/all/modules
drupal-base/libraries
drupal-base/sites/*/files/php/twig
drupal-base/sites/*/files/css
drupal-base/sites/*/files/js